.container-favourites {
    height: 80vh;
    width: 100vw;
}


.favourites-title {
    font-size: 4vw;
    width: 100%;

    display: flex;
    justify-content: center;

    background: linear-gradient(45deg, #dfc3c3, #6a6363, #a16f6f, #4b4a4a, #e0c6c6);
    background-size: 400% 100%;
    animation: degradeBg 5s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie-test {
    height: 75vh;
    width: 19vw;
}